[Unit]
Description=Kiosk tab cycling
After=kiosk.service
Wants=kiosk.service
PartOf=graphical-session.target

[Service]
ExecStart=%h/pi-kiosk/scripts/tab-cycling.sh
Type=simple
Restart=no
KillMode=mixed
TimeoutStopSec=3

[Install]
WantedBy=default.target